@page "/"

<label class="h3">The pitcher is on pace for @Decimal.Round(on_pace_for,2) pitches per inning. Assuming a target of 100 pitches total thrown, the pitcher will last @Decimal.Round(pulled_innings,2) innings.</label>

<form id="frm_main">
    <table class="table">
        <thead>
            <tr>
                <th>Pitches</th>
                <th>Innings</th>
                <th>Thirds</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" id="tb_pitches" @bind="pitches" /></td>
                <td><input type="text" id="tb_innings" @bind="innings" /></td>
                <td><input type="text" id="tb_thirds" @bind="thirds" /></td>
            </tr>
        </tbody>
    </table>
    <input type="button" form="frm_main" @onclick="calc" class="btn btn-primary" value="Calc" />
</form>

@code {

    private async Task calc()
    {
        on_pace_for = pitches / (innings + thirds / 3M);
        pulled_innings = 100M/on_pace_for;

    }

    private decimal pitches { get; set; }
    private decimal innings { get; set; }
    private decimal thirds { get; set; }

    private decimal on_pace_for { get; set; } = 0;
    private decimal pulled_innings{get;set;}=0;
}